<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mybrary</title>
</head>
<body>
    Before
    <br>
    <%- body %> <!-- Vậy là trong các file html ta ko cần phải thêm đoạn header và footer nữa mà chỉ cần viết phần body thôi, rồi header và footer sẽ được tự động chèn vào mọi file views.-->
    <br>
    After
</body>
</html>